<div class="col-md-3 col-sm-3">
  <div class="card bg-primary rounded-4">
    <div class="card-body">
      <h5 class="card-title">Player</h5>
      <p class="card-text">
        <strong>Body Weight:</strong> <%= player['body_weight'] %> kg <br>
        <strong>Height:</strong> <%= player['height'] %> cm <br>
      </p>
    </div>
  </div>
</div>
