<div class="col-md-3 col-sm-3">
  <div class="card bg-primary rounded-4">
    <div class="card-body">
      <h6 class="card-title">Player</h6>
      <p class="card-text">
        <strong>Weight:</strong> <%= player['body_weight'] %> kg <br>
      </p>
    </div>
  </div>
</div>
